.masthead {
  padding: 200px 0;
}
.puteh {
  color: white;
}
.bg-gray {
  background-color: #f7f7f9;
}
.itc-cover {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
.itc-content {
  margin-top: 30px;
}
.itc-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.itc-icon-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100px;
  height: 100px;
}
.cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 10px;
  transition: transform 0.2s;
}
.prayforhmti {
  margin: 30px 0;
}
.card-dd {
  transition: transform 0.2s;
  margin: 10px;
}
.card-dd:hover {
  transform: scale(1);
}

.timeline {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.time-sec {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  margin: 50px 0;
}
